body {
  background-image: url("https://images.unsplash.com/photo-1550895030-823330fc2551?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}

.container1 {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(201, 201, 201);
}

.container2 {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(201, 201, 201);
}

.propic {
  background-color: rgb(126, 126, 126);
  width: 300px;
  height: 250px;
  filter: saturate(0.65);
}

.font1 {
  font-family: "Trirong", serif;
}

.img {
  margin-left: 45px;
  margin-top: 15px;
  border-radius: 50%;
  width: 220px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.title {
  background-color: rgb(126, 126, 126);
  width: 700px;
  height: 250px;
}

.left {
  background-color: rgb(241, 231, 204);
  width: 300px;
  height: auto;
}

.right {
  background-color: rgb(248, 248, 248);
  width: 700px;
  height: auto;
}

.textcenter {
  text-align:center;
  margin-top: 50px;
}

.textcenter2 {
  text-align:center;
}

.text1 {
  text-align:center
}

.font2 {font-family: 'GFS Didot';}

.gg-mail,
.gg-mail::after {
  margin-top: 15px;
    display: block;
    box-sizing: border-box;
    height: 14px;
    border: 2px solid
}
.gg-mail {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    position: relative;
    width: 18px;
    border-radius: 2px
}
.gg-mail::after {
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 14px;
    transform: rotate(-45deg);
    bottom: 3px;
}

.marb {
  margin-bottom: 30px;
}

.font11 {
  font-size: 11px;
}

.tab {
  margin-left: 10px;
}

.tabX2 {
  margin-left: 22px;
}

.bold {
  font-weight: bold;
}

.mar40 {
  margin-top: 40px;
}

.mardel {
  margin-top: 0px;
}

.flex {
  display: flex;
}

.dotbox{
  border: 2px dotted;
  margin-left: 25%;
  margin-right: 25%;
}

.gray {
  color: rgb(182, 182, 182);
}

table, td, th {
  border: 1px dotted;
  border-color: rgb(199, 139, 11);
}

table {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border-collapse: collapse;
}